:not(:root):fullscreen::backdrop {
    background-image: url('lovecomp1.png');
    background-size: auto 100%;
    background-repeat: repeat-x;
    animation:background-infinite 110s linear infinite;
    animation-play-state: paused;
    background-position: 0 0;
  }